h1,
h2,
h3,
h4,
h5 {
  font-family: $default-font, sans-serif;
  font-weight: 400;
  color: $yellow;
}

p {
  font-family: $default-font, sans-serif;
  color: $yellow;
}

a {
  text-decoration: none;
}