// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$default-font: 'Poppins', sans-serif;

// Colors
$black:#1C1C1C;
$white:#EBEBEB;
$yellow:#FCAF58;
$red:#9B1D20;
$pink: #D44D5C;
